<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheet.css" />
    <link rel="icon" href="/icons/titleLogo.png" type="image/png">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
</head>

<body class="standardBody">
    <div class="standardHeader">
        <div class="logoGroup">
            <img style="height: 45px; padding-top: 5px;" src="/icons/logo.png" alt="">
            <div>
                IntelliTrade
            </div>
        </div>
        <div class="standardButtonsGroup">
            <a href="/admin" class="standardButton">
                Admin
            </a>

            <a href="/home" class="standardButton">
                Home
            </a>

            <a href="/dashboard" class="standardButton">
                Dashboard
            </a>

            <a href="/buyorders" class="standardButton">
                Buy Orders
            </a>

            <a href="/portfolio" class="standardButton">
                Portfolio
            </a>

            <a href="signout" class="standardButton">
                Sign Out
            </a>

        </div>
    </div>
    <br>