<div id="overlayBuy" class="overlay">
	<div class="overlay-content">
		<h1 style="margin-top: 10px; font-size: 20px;">BUY ORDER</h1>
		<form action="/market/:id/buyorder" method="post">
			<label for="StockId">Stock:</label>
			<select name="StockId" id="StockId">
				<option value="">--SELECT--</option>
				<% if (typeof(stocks) !=='undefined' ) { %>
					<% stocks.forEach(el=> { %>
						<option value="el.id">
							<%= el.stockName %>
						</option>
						<% }) %>
							<% } %>
			</select>
			<label for="quantity">Quantity:</label>
			<input type="number" id="quantityBuy" name="quantity" style="padding-left: 20px; margin-top: 5px;">
			<label for="price" style=" margin-top: 15px;">Limit Price:</label>
			<input type="number" id="priceBuy" name="price" style="padding-left: 20px; margin-top: 15px;">
			<label for="Expiration" style=" margin-top: 15px;">Order Expiration:</label>
			<input type="date" id="ExpirationBuy" name="Expiration" style="padding-left: 20px; margin-top: 15px;">
			<div
				style="width: 100%; height: auto; justify-content: center; display: flex; padding-top: 10px; margin-top: 40px; gap: 10px;">
				<button type="submit" class="addButton" style="font-size: 14px; width: 115px">PLACE BUY</button>
				<button type="button" class="cancelButton" style="font-size: 14px; width: 115px;"
					onclick="closeForm()">CANCEL</button>
			</div>
		</form>
	</div>
</div>

<div id="overlaySell" class="overlay">
	<div class="overlay-content">
		<h1 style="margin-top: 10px; font-size: 20px;">SELL ORDER</h1>
		<form action="/market/:id/sellorder" method="post">
			<label for="StockId">Stock:</label>
			<select name="StockId" id="StockId">
				<option value="">--SELECT--</option>
				<% if (typeof(stocks) !=='undefined' ) { %>
					<% stocks.forEach(el=> { %>
						<option value="el.id">
							<%= el.stockName %>
						</option>
						<% }) %>
							<% } %>
			</select>
			<label for="quantity">Quantity:</label>
			<input type="number" id="quantitySell" name="quantity" style="padding-left: 20px; margin-top: 5px;">
			<label for="price" style=" margin-top: 15px;">Limit Price:</label>
			<input type="number" id="priceSell" name="price" style="padding-left: 20px; margin-top: 15px;">
			<label for="Expiration" style=" margin-top: 15px;">Order Expiration:</label>
			<input type="date" id="ExpirationSell" name="Expiration" style="padding-left: 20px; margin-top: 15px;">
			<div
				style="width: 100%; height: auto; justify-content: center; display: flex; padding-top: 10px; margin-top: 40px; gap: 10px;">
				<button type="submit" class="addButton" style="font-size: 14px; width: 115px">PUT SELL</button>
				<button type="button" class="cancelButton" style="font-size: 14px; width: 115px;"
					onclick="closeForm()">CANCEL</button>
			</div>
		</form>
	</div>
</div>